.hero-banner {
  height: 98vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
  color: #FFFFFF;
  overflow: hidden;
}

.hero-image, .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  z-index: 1;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero-buttons {
  margin-top: 20px;
}

.hero-button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 15px;
  transition: background-color 0.3s ease;
}

.hero-button.primary {
  background-color: #FFFFFF;
  color: black;
}

.hero-button.secondary {
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid white;
}

.hero-button.primary:hover {
  background-color: #DA0F15;
}

.hero-button.secondary:hover {
  background-color: #DA0F15;
  color: black;
}
