.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* Ensure full width */
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Add some padding to prevent elements from going too far out */
}

.navbar-logo {
  flex: 0;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  flex: 0.5;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #373334;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and position transition */
}

.navbar-links a:hover {
  color: red; /* Red color on hover */
  transform: translateX(5px); /* Shift link to the right on hover */
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 10px; /* Reduce padding on smaller screens */
  }

  .navbar-links {
    flex-wrap: wrap; /* Allow links to wrap if they overflow */
  }

  .navbar-links a {
    margin-left: 10px; /* Reduce margin between links for smaller screens */
  }
}
